<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.schuetzenfestheiden"
    versionCode = "81" 
    version     = "1.7.0" >

    <!-- versionCode is optional and Android only -->
<preference name="phonegap-version" value="3.5.0" />

    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
    -->
<gap:plugin name="org.apache.cordova.device" />

    <name>Schützenfest Heiden</name>

    <description>
      Die offizielle App von Schützenfest Heiden
    </description>

    <author href="http://www.schwitte.de" email="phonegap@schwitte.de">
      Maik Schwitte
    </author>
    <icon src="icon.png" />
    
    <preference name="permissions"                value="none"/>
    
    
<!--     <plugin name="Storage" value="org.apache.cordova.Storage" /> -->

    
    
<!-- <gap:plugin name="org.apache.cordova.core.camera" />
<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />

<plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
<plugin name="PushPlugin" value="com.plugin.gcm.PushPlugin" /> -->


<!-- <feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/notification"/> -->

<!-- <feature name="http://api.phonegap.com/1.0/media"/> -->
<feature name="http://api.phonegap.com/1.0/network"/>
<!-- <feature name="http://api.phonegap.com/1.0/device" />  -->


<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />




</widget>