<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.schuetzenfestheiden"
    versionCode = "87" 
    version     = "2.0.1" >

<!-- <preference name="phonegap-version" value="3.7.0" /> -->

    <name>Schützenfest Heiden</name>

    <description>
      Die offizielle App vom Schützenverein Heiden
    </description>

    <author href="http://www.schwitte.de" email="phonegap@schwitte.de">
      Maik Schwitte
    </author>
    <icon src="icon.png" />
    

                
    
<!-- <gap:plugin name="org.apache.cordova.core.camera" />
<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />

<plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
<plugin name="PushPlugin" value="com.plugin.gcm.PushPlugin" /> -->


<!-- <feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/notification"/> -->

<!-- <feature name="http://api.phonegap.com/1.0/media"/> -->


<feature name="http://api.phonegap.com/1.0/network"/>
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="com.phonegap.plugins.pushplugin" />
<gap:plugin name="org.apache.cordova.dialogs" />
<!-- <gap:plugin name="com.chanthu.evri.gcs-file-transfer" version="1.0.0" />
<gap:plugin name="com.synconset.imageresizer" version="0.1.1" /> -->
<access origin="http://phonegap.com" subdomains="true" />
<access origin="http://schwitte.de" subdomains="true" />

</widget>