.div_table {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
   float:none;
}.div_table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	margin:0px;padding:0px;
}.div_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.div_table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.div_table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.div_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.div_table tr:hover td{
	
}
.div_table tr:nth-child(odd){ background-color:#ABFFC9; }
.div_table tr:nth-child(even)    { background-color:#ffffff; }.div_table td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.div_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.div_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.div_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.div_table tr:first-child td{
		background:-o-linear-gradient(bottom, #085A20 5%, #023A13 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #085A20), color-stop(1, #023A13) );
	background:-moz-linear-gradient( center top, #085A20 5%, #023A13 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#085A20", endColorstr="#023A13");	background: -o-linear-gradient(top,#085A20,023A13);

	background-color:#085A20;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	color:#ffffff;
}
.div_table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #085A20 5%, #023A13 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #085A20), color-stop(1, #023A13) );
	background:-moz-linear-gradient( center top, #085A20 5%, #023A13 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#085A20", endColorstr="#023A13");	background: -o-linear-gradient(top,#085A20,023A13);

	background-color:#085A20;
}
.div_table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.div_table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}